<div class="index-container">
  <h1>Welcome to Amphigorey Antiques</h1>
  <p class="welcome">We have all your dusty antimacassar needs</p>

  <p>Let us know your identity:</p>

  <div class="row index-paths">
    <div class="col-sm-6">
      <p><a href="/manager">Manager</a></p>
    </div>

    <div class="col-sm-6">
      <p><a href="/cashier">Cashier</a></p>
    </div>
  </div>

  <div id="index-pic-container">
    <img id="index-pic" src="/img/urn.jpg" alt="Large black urn bookended by amorphous black blob creatures">
  </div>
</div>
