<h1>Welcome to Amphigorey Antiques</h1>
<p>We have all your dusty antimacassar needs</p>

<p>Let us know your identity:</p>

<p><a href="/manager">Manager</a></p>

<p><a href="/cashier">Cashier</a></p>

<div id="index-pic-container">
  <img id="index-pic" src="/img/urn.jpg" alt="Large black urn bookended by amorphous black blob creatures">
</div>
