<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Kreon|Love+Ya+Like+A+Sister|Sorts+Mill+Goudy|Special+Elite" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <meta charset="utf-8">
    <title>Amphigorey Antiques</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <p><a href="/">Back to Home</a></p>
    </div>
  </body>
</html>
