<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <meta charset="utf-8">
    <title>Amphigorey Antiques</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <p><a href="/">Back to Home</a></p>
    </div>
  </body>
</html>
