<h1>Welcome, Manager</h1>

<p>Here is the list of the current inventory. Peruse at your pleasure!</p>

<% if @available_products.any? %>
<ul>
  <% @available_products.each do |product| %>
  <li><a href="/product/<%= product.id %>"><%= product.description %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no products! We need some inventory, good sir! What kind of establishment is this?!!!</p>
<% end %>

<p>Here is the list of inventory that is sold out. Please restock!</p>

<% if @unavailable_products.any? %>
<ul>
  <% @unavailable_products.each do |product| %>
  <li><a href="/product/<%= product.id %>"><%= product.description %></a></li>
  <% end %>
</ul>
<% else %>
  <p>We haven't sold anything, man! How are we keeping the wolves from the door?!</p>
<% end %>

<h3>Add Inventory</h3>

<form action="/manager" method="post">
  <div class="form-group">
    <label for="description">Item Description:</label>
    <input name="description" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="price">Cost of Item:</label>
    <input name="price" type="number" step="0.01" min="0.00" class="form-control">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>
