body {
  background-image: url("../img/bg.jpg");
  background-size: auto 100vh;
  background-repeat: no-repeat;
  font-family: 'Kreon', serif;
}

h1 {
  text-align: center;
  font-family: 'Special Elite', serif;
}

h2, h3 {
  font-family: 'Special Elite', serif;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

a {
  color: #884c41;
}

a:hover {
  color: #ca6f5f;
}

.container {
  height: 100vh;
  background-color: rgba(221, 221, 221, 0.83)
}

.home-link {
  text-align: center;
  margin: 1.5em 0em;
}

.index-container {
  text-align: center;
}

.welcome {
  font-style: italic;
  color: #695c5c;
}

.btn {
  color: black;
  border: 1px solid rgb(171, 159, 145);
  border-radius: 20px;
  font-size: 16px;
  background-color: #d0c0ac;
}

.btn:hover {
  background-color: #b9ab9a;
  border-color: rgb(134, 124, 114);
}

.manager-options {
  text-align: center;
  margin-top: 20px;
}

.manager-options .btn {
  margin: .5em;
}

.btn.selected {
  background-color: #b9ab9a;
  border-color: rgb(134, 124, 114);
}

#index-pic {
  width: 100%;
}

/*font-family: 'Kreon', serif;
font-family: 'Sorts Mill Goudy', serif;
font-family: 'Special Elite', cursive;
font-family: 'Love Ya Like A Sister', cursive;*/
